body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to top right, #db2777, #e11d48, #dc2626);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

header input {
    width: 200px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
    color: gray;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .25);
    transition: all ease-in-out .15s;
}

header input:focus {
    width: 220px;
}

header button {
    width: 150px;
    height: 30px;
    background-color: #fbbf24;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .25);
    outline: none;
}

table {
    width: 50%;
    min-width: 350px;
    margin: 50px auto;
    border: 5px solid #e11d48;
    padding: 0;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

thead {
    background-color: #e11d48;
    height: 50px;
    color: white;
}

tbody {
    background-color: #fbbf24;
}

td {
    text-align: center;
    padding: 10px;
}

td > button {
    border: 2px dashed white;
    background-color: inherit;
    border-radius: 0;
}
